@import '~@angular/material/theming';

.view{
    width: 50% ;
    padding: 20px ;
    background-color: #FFF6E0;
    @include mat-elevation(16);
    margin: 0 auto ;
}

.mobile-view{
    height: fit-content;
    background-color: #FFF6E0;
    padding: 20px ;
}

.container{
    height: calc(100vh - 180px) ;
}

.container-mobile{
    height: calc(100vh - 180px) ;
    width: 100% ;
}

.top-container{
    height: 100px ;
    background: #523A30;
    *{
        color: white;
    }
}

.brown-color{
    color: #523A30 !important;
}


.title{
    font-weight: bold ;
    font-size: 28px ;
    color: #816653 ;
}

.search-bar{
    mat-form-field{
        width: 100% ;    
    }
}

.search-bar-container{
    height: fit-content ;
    width: 100%;
    
    .menu-container{
        width: 70px ;
        
        .menu-button{
            background: #FFF6E0;
            zoom: 0.95 ;
            .mat-icon{
                color: #523A30;
            }
        }
    }

    .search-bar{
        // width: calc(100% - 70px);
    }

}

.contact-container{
    height: calc(100% - 50px) ; //height of top and bottom container is deducted
    overflow-y: auto ;
}

.contact-list{
    width: 98.5% ;
    margin-left: 1.5%;
    margin-bottom: 2.5em ;
}

.alphabet{
    font-size: 24px ;
    font-weight: bold ;
    color: #816653 ;
    margin-bottom: 1px ;
}

.underline{
    width: 100%;
    background-color: #816653 ;
    height: 3px ;
    border-radius: 5px;
}

.name-container{
    margin-top: 0.7em;
    border-radius: 5px ;
    mat-divider{
        border-top-color:  #8166534D; 
    }
    h3{
        color:  #816653 ;
    }
    &:hover{
        background-color: #A8927E;
        cursor: pointer ;
        h3{
            color: #FFF6E0 ;
        }
    }
}

.count-container{
    height: 40px ;
    text-align: center ;
    padding: 5px ;
    .count{
        color: rgba(129, 102, 83, 0.7);
        margin: 0;
    }
}

:host{
    ::ng-deep .mat-form-field-underline{
        display: none;
    }

    ::ng-deep{
        .mat-form-field-flex{
            border-radius: 30px !important ;
            background: #FFF6E0;

            display: flex !important;
            place-content: center !important;
            padding: 0.5em 0.75em !important;
            align-items: center !important;
        }
    }
}
