<div class="modal-container" ngClass.gt-sm="large-size" ngClass.lt-md="small-size" >

    <div class="title-container">
        <h1 class="title" >Person Name</h1>
        <div class="underline" ></div>    
    </div>

    <div class="information-container">
        <div class="number-container">
            <ng-container *ngFor="let phone of numbers; let index = index">
                <h3 class="phone-title">Phone {{index + 1}}</h3>
                <h1 class="phone-number">{{phone}}</h1>
            </ng-container>
        </div>
      
        <ng-container *ngFor="let info of information">
            <div class="info-container">
                <div class="underline-narrow" ></div>    
                <h1 class="info-title overflow-ellipsis" >{{info.infoType}}</h1>
                <h3 class="info overflow-ellipsis">{{info.infoValue}}</h3>
            </div>
        </ng-container>
       
        <div class="info-container">
            <div class="underline-narrow" ></div>    
            <h1 class="info-title overflow-ellipsis" >Notes</h1>
            <p class="info">{{loremIpsum}}</p>
            <div class="underline-narrow" ></div>   
        </div>

    </div>

    <div class="actions" >
        <div class="action-button-container" fxLayout="row" fxLayoutAlign="space-between" >
            <button class="action-button" mat-button>Message</button>
            <button class="action-button" mat-button>Call</button>
        </div>
        <div class="back-container" fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="back-icon">arrow_back_ios</mat-icon>
                <h3 class="back-button" mat-dialog-close >{{back}}</h3>
            </div>
        </div>
    </div>

</div>