.modal-container{
    height: 100vh ;
    width: 50vw ;
    background-color: #FFF6E0;
    padding: 24px ;
}

.title{
    font-weight: bold ;
    font-size: 28px ;
    color: #816653 ;
    text-align: center ;
}

.underline{
    width: 100%;
    background-color: #816653 ;
    height: 3px ;
    border-radius: 5px;
}

.underline-narrow{
    width: 100%;
    background-color:  #8166534D;
    height: 2px ;
    border-radius: 5px;
}

.number-container{
    text-align: center;
    padding: 20px ;
    *{
        margin: 1px ;
    }
    .phone-title{
        color: #A7917E;
    }
    .phone-number{
        color: #816653;
    }
}

.info-title{
    font-weight: 500 ;
    color: #816653;
    font-size: 18px ;
    margin-top: 5px ;
    margin-bottom: 1px ;
}

.info{
    color: #816653;
    margin-top: 1px ;
    margin-bottom: 5px ;
    font-size: 16px ;
}

.overflow-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::ng-deep{
    .mat-dialog-container {
        padding: 0px !important;
    }
}


