@import '~@angular/material/theming';

.view{
    width: 50% ;
    padding: 20px ;
    background-color: lightyellow;
    @include mat-elevation(16);
    margin: 0 auto ;
}

.mobile-view{
    width: 100% ;
    height: fit-content;
    background-color: lightyellow;
}

.container{
    height: calc(100vh - 40px) ;
}

.container-mobile{
    padding: 20px ;
}

.top-container{
    height: 130px ;
}


.title{
    font-weight: bold ;
    font-size: 28px ;
    color: rgba(52, 24, 24, 0.845) ;
}

.search-bar{
    mat-form-field{
        width: 100% ;    
    }
}

.search-bar-container{
    height: calc(100% - 130px) ;
    width: 100%;
  
    .menu-container{
        width: 70px ;
        
        .menu-button{
            background-color: rgba(52, 24, 24, 0.845) ;
            zoom: 0.95 ;
        }
    }

    .search-bar{
        width: calc(100% - 30px);
    }

}

.contact-container{
    height: 80%;
    overflow-y: auto ;
}

.contact-list{
    width: 98.5% ;
    margin-left: 1.5%;
    margin-bottom: 2.5em ;
}

.alphabet{
    font-size: 24px ;
    font-weight: bold ;
    color: rgba(52, 24, 24, 0.845) ;
    margin-bottom: 1px ;
}

.underline{
    width: 100%;
    background-color: rgba(52, 24, 24, 0.845) ;
    height: 3px ;
    border-radius: 5px;
}

.name-container{
    margin-top: 0.7em;
    h3{
        color:  rgba(52, 24, 24, 0.845) ;
    }
}

:host{
    ::ng-deep .mat-form-field-underline{
        display: none;
    }

    ::ng-deep{
        .mat-form-field-flex{
            border-radius: 30px !important ;
        }
    }

}
