<div class="title-container" fxLayout="row" fxLayoutAlign="space-between center" ngClass.gt-sm="large-size" ngClass.lt-md="small-size">
    <div class="back-container" fxLayout="row" fxLayoutAlign="center center">
        <div class="pointer" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="back-icon">arrow_back_ios</mat-icon>
            <h3 class="back-button light-yellow-color" mat-dialog-close >{{back}}</h3>
        </div>
    </div>
    <div class="action-icon-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-icon class="material-icons-outlined">ios_share</mat-icon>
        <mat-icon (click)="openContactDetailsEdit()" class="material-icons-outlined">edit</mat-icon>
        <mat-icon class="material-icons-outlined">delete</mat-icon>
    </div>
</div>

<div class="modal-container" ngClass.gt-sm="large-size" ngClass.lt-md="small-size" >

    <div class="information-container">

        <div class="profile-img-container" fxLayout="row" fxLayoutAlign="center center">
            <div class="person-icon-container">
                <mat-icon>person</mat-icon>
            </div>
        </div>

        <div class="person-name-container" >
            <h1 class="person-name" >{{ getName() }}</h1>
        </div>

        <div class="underline" ></div>  

        <div class="number-container">
            <h3 class="phone-title">Phone 1</h3>
            <div class="phone-info-container" fxLayout="row" fxLayoutAlign="space-between center">
                <h1 class="phone-number">{{data.phone}}</h1>
                <div class="phone-icon-container" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" >
                    <div class="call-button-container pointer">
                        <mat-icon class="material-icons-outlined">call</mat-icon>
                    </div>
                    <div class="message-button-container pointer">
                        <mat-icon class="material-icons-outlined">chat</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-container">
            <div class="underline-narrow" ></div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="info-segment">
                    <h1 class="info-title overflow-ellipsis" >Email</h1>
                    <h3 class="info overflow-ellipsis">{{data.email}}</h3>
                </div>
                <div class="phone-icon-container" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" >
                    <div class="email-button-container pointer">
                        <mat-icon class="material-icons-outlined">forward_to_inbox</mat-icon>
                    </div>
                </div>
            </div>  
        </div>
        
        <div class="info-container">
            <div class="underline-narrow" ></div>  
            <div class="info-segment">
                <h1 class="info-title overflow-ellipsis" >Profile</h1>
                <h3 class="info overflow-ellipsis">{{data.profile}}</h3>
            </div>  
        </div>

        <div class="info-container">
            <div class="underline-narrow" ></div>  
            <div class="info-segment">
                <h1 class="info-title overflow-ellipsis" >Address</h1>
                <h3 class="info overflow-ellipsis">{{data.address}}</h3>
            </div>  
        </div>
        
        <div class="info-container">
            <div class="underline-narrow" ></div>  
            <div class="info-segment">
                <h1 class="info-title overflow-ellipsis" >Notes</h1>
                <p class="info">{{data.note}}</p>
            </div>  
        </div>

    </div>

    <!-- <div class="actions" >
        <div class="action-button-container" fxLayout="row" fxLayoutAlign="space-between" >
            <button class="action-button" mat-button>Message</button>
            <button class="action-button" mat-button>Call</button>
        </div>
        <div class="back-container" fxLayout="row" fxLayoutAlign="center center">
            <div class="pointer" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="back-icon">arrow_back_ios</mat-icon>
                <h3 class="back-button" mat-dialog-close >{{back}}</h3>
            </div>
        </div>
    </div> -->

</div>