
<div class="actions-container" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="back-container" fxLayout="row" fxLayoutAlign="center center">
        <div class="pointer" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="back-button" mat-dialog-close >{{cancel}}</h3>
        </div>
    </div>
    <div class="save-container" fxLayout="row" fxLayoutAlign="center center">
        <div class="pointer" fxLayout="row" fxLayoutAlign="start center">
            <h3 class="save-button" mat-dialog-close >{{save}}</h3>
        </div>
    </div>
</div>

<div class="modal-container" ngClass.gt-sm="large-size" ngClass.lt-md="small-size" >

    <div class="information-container">

        <div class="profile-img-container" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="info-title overflow-ellipsis new-contact" >New Contact</h1>
            <div class="person-icon-container">
                <mat-icon>person</mat-icon>
            </div>
        </div>
        
        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Middle Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <mat-label>Phone</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <mat-label>Profile</mat-label>
                <input matInput>
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <mat-label>Address</mat-label>
                <input matInput >
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <div class="note-container">
                <!-- <h1 class="info-title overflow-ellipsis" >Notes</h1> -->
                <mat-form-field class="note-form-field" appearance="fill" >
                    <mat-label>Notes</mat-label>
                    <textarea matInput ></textarea>
                </mat-form-field>
            </div>  
        </div>

    </div>

</div>