<div class="modal-container" ngClass.gt-sm="large-size" ngClass.lt-md="small-size" >

    <div class="title-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="back-container" fxLayout="row" fxLayoutAlign="center center">
            <div class="pointer" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="back-icon">arrow_back_ios</mat-icon>
                <h3 class="back-button" mat-dialog-close >{{back}}</h3>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <mat-icon class="material-icons-outlined">ios_share</mat-icon>
            <mat-icon class="material-icons-outlined">edit</mat-icon>
            <mat-icon class="material-icons-outlined">delete</mat-icon>
        </div>
    </div>

    <div class="information-container">

        <div class="profile-img-container" fxLayout="row" fxLayoutAlign="center center">
            <div class="person-icon-container">
                <mat-icon>person</mat-icon>
            </div>
        </div>
        
        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <input matInput placeholder="Middle Name">
            </mat-form-field>
            <mat-form-field appearance="fill" >
                <input matInput placeholder="Last Name">
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <input matInput placeholder="Phone">
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <input matInput placeholder="Email">
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <input matInput placeholder="Profile">
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>

        <div class="form-field-container">
            <mat-form-field appearance="fill" >
                <input matInput placeholder="Address">
            </mat-form-field>
            <div class="underline-narrow" ></div>
        </div>
       
        <div class="info-container">
            <div class="info-segment">
                <h1 class="info-title overflow-ellipsis" >Notes</h1>
                <p class="info">{{loremIpsum}}</p>
            </div>  
        </div>

    </div>

</div>